{{ with .content }}
<div {{ with .id }}id="{{ . }}"{{ end }} class="benefits">
    <div>
        <h2>
        {{ .title | markdownify }}
        </h2>

        <div class="items">
        {{ $benefits := .items }}

        {{ range $i, $e := $benefits }}
        {{ $benefits_count := $e | len }}
            <div class="item order-{{ if $e.main }}1{{ else }}{{ add $i 2 }}{{ end }}">
                <h3>
                {{ .title | markdownify }}
                </h3>
            {{ with .tagline }}
                <p class="tagline">{{ . | markdownify }}</p>
            {{ end }}

            {{ with .image }}
            {{/*TODO: missing fields*/}}
                <img src="{{ . }}"/>
            {{ end }}

            {{ with .copy }}
                <p class="copy">{{ . | markdownify }}</p>
            {{ end }}
            </div>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}
