<script defer src="https://gumroad.com/js/gumroad.js"></script>

<div class="columns is-centered mt-5 mb-5">
    <div class="column is-10">
      <article class="message has-text-centered">
        <div class="message-header">
        </div>
        <div class="message-body">
          <h2 class="title is-size-2">
          Buy the application now.
          </h2>
          <p class="has-text-grey mb-5">
            Risk-Free, Get a full refund within 30 days. No hassle, no stress.
          </p>
          <a class="button is-medium is-primary" href="https://gum.co/tickingfocus" target="_blank" role="button">
              <span class="icon">
                  <i class="fad fa-shopping-cart"></i>
              </span>
              <span>
                  Buy on Gumroad
              </span>
          </a>
        </div>
      </article>
    </div>
  </div>