<script src="https://gumroad.com/js/gumroad.js"></script>

<div class="columns is-centered mt-5 mb-5">
    <div class="column is-10">
      <article class="message has-text-centered">
        <div class="message-header">
        </div>
        <div class="message-body">
          <h2 class="title is-size-2 no-anchor">
            Get TickingFocus on macOS
          </h2>
          <a class="" href="/">
            <img src="/buy-pic.png" alt="TickingFocus Screenshot" width="256" />
          </a>
          <p class="has-text-grey mb-5">
            We built the most focused timer we could.
          </p>
          <a class="button is-medium is-primary" href="/">
              <span class="icon">
                  <i class="fad fa-computer-classic"></i>
              </span>
              <span>
                  Checkout TickingFocus
              </span>
          </a>
        </div>
      </article>
    </div>
  </div>